/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;
  --vt-c-white-smoke: #525252;

  --vt-c-black: #202430;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;
  --vt-c-black-smoke: #525252;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
  --fk-max-width-input: 25rem;
  --qrh-primary: #7330DF;
}

:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);
  --color-background-smoke: var(--vt-c-white-smoke);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

html.light {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);
  --color-background-smoke: var(--vt-c-white-smoke);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}


html.dark {
  --color-background: var(--vt-c-black);
  --color-background-soft: var(--vt-c-black-soft);
  --color-background-mute: var(--vt-c-black-mute);
  --color-background-smoke: var(--vt-c-black-smoke);

  --color-border: var(--vt-c-divider-dark-2);
  --color-border-hover: var(--vt-c-divider-dark-1);

  --color-heading: var(--vt-c-text-dark-1);
  --color-text: var(--vt-c-text-dark-2);
}

@font-face {
  font-family: "Clash Display Variable";
  src: url('@/assets/fonts/ClashDisplay-Regular.otf') format("opentype");
}

@font-face {
  font-family: "Clash Display Variable";
  font-weight: bold;
  src: url('@/assets/fonts/ClashDisplay-Bold.otf') format("opentype");
}

@font-face {
  font-family: "Clash Display Variable";
  font-weight: 600;
  src: url('@/assets/fonts/ClashDisplay-Semibold.otf') format("opentype");
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: 'Epilogue', Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-heading {
  color: var(--color-heading);
}

.border-color {
  border-color: var(--color-border);
}

.divide-border-color> :not([hidden])~ :not([hidden]) {
  border-color: var(--color-border);
}

#app,
body {
  height: 100%;
}

.bg-side {
  background: url('@/assets/images/design-7b051895-a4ce-4319-b607-11f9ae6a2e9c.png') center bottom no-repeat, url('@/assets/images/pattern.svg') 100% no-repeat;
  max-width: 634px;
  width: 100%;
  height: 100vh;
  background-size: 50%, 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.authentication-side {
  height: 100%;
  overflow: scroll;
  flex-grow: 1;
}
.authentication-side form {
  width: 408px;
}

h3 {
  font-family: 'Clash Display Variable';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  text-align: center;
}

.qrh-btn {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  gap: 10px;
  height: 50px;
  border-radius: 8px;

  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

.qrh-btn--secondary {
  border: 1px solid #C7ACF2;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: var(--qrh-primary);
}

.qrh-btn--primary {
  background: var(--qrh-primary);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  /* identical to box height, or 26px */

  text-align: center;

  /* Neutrals / 0 */

  color: #FFFFFF;

}

.body-normal {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  opacity: 0.5;
}

.text-horizontal-line {
  display: flex;
  flex-direction: row;
}
.text-horizontal-line:before, .text-horizontal-line:after{
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}
.text-horizontal-line:before {
  margin-right: 10px
}
.text-horizontal-line:after {
  margin-left: 10px
}
input {
  height: 50px;
}
