/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;
  --vt-c-white-smoke: #525252;

  --vt-c-black: #202430;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;
  --vt-c-black-smoke: #525252;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
  --fk-max-width-input: 25rem;
  --qrh-primary: #7330DF;
  --qrh-secondary: #C7ACF2;
  --qrh-tertiary: #F1EAFC;
  --qrh-yellow: #FFB836;
  --qrh-green: #56CDAD;
  --qrh-red: #FF6550;
  --qrh-blue: #26A4FF;
  --qrh-purple: #7B61FF;
  --qrh-netrals-20: #E4E5E7;
  --fk-max-width-input: unset;
  --vs-dropdown-option--active-bg: var(--qrh-tertiary);
  --vs-dropdown-option--active-color: #515B6F;
}

:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);
  --color-background-smoke: var(--vt-c-white-smoke);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
  --fk-color-primary: var(--qrh-primary);
  --fk-bg-decorator: #fff;
  --fk-box-size: 1.5rem;
  --fk-margin-option-b: var(--fk-margin-option-y, 1.5rem);
  --vs-border-radius: 0;
  --vs-border-color: #E4E5E7;
  --vs-actions-padding: 12px 16px;
  --vs-selected-bg: #F1EAFC;
  --vs-selected-border-color: #C7ACF2;
  --tw-translate-y: 0%;
  --tw-translate-x: -100%;
}

html.light {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);
  --color-background-smoke: var(--vt-c-white-smoke);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}


html.dark {
  --color-background: var(--vt-c-black);
  --color-background-soft: var(--vt-c-black-soft);
  --color-background-mute: var(--vt-c-black-mute);
  --color-background-smoke: var(--vt-c-black-smoke);

  --color-border: var(--vt-c-divider-dark-2);
  --color-border-hover: var(--vt-c-divider-dark-1);

  --color-heading: var(--vt-c-text-dark-1);
  --color-text: var(--vt-c-text-dark-2);
}

@font-face {
  font-family: "Clash Display Variable";
  src: url('@/assets/fonts/ClashDisplay-Regular.otf') format("opentype");
}

@font-face {
  font-family: "Clash Display Variable";
  font-weight: bold;
  src: url('@/assets/fonts/ClashDisplay-Bold.otf') format("opentype");
}

@font-face {
  font-family: "Clash Display Variable";
  font-weight: 600;
  src: url('@/assets/fonts/ClashDisplay-Semibold.otf') format("opentype");
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: #7C8493;
  /*  background: var(--color-background);*/
  line-height: 1.6;
  font-family: 'Epilogue', Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-heading {
  color: var(--color-heading);
}

.border-color {
  border-color: var(--color-border);
}

.divide-border-color> :not([hidden])~ :not([hidden]) {
  border-color: var(--color-border);
}

#app,
body {
  height: 100%;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
}

.bg-side {
  background: url('@/assets/images/design-7b051895-a4ce-4319-b607-11f9ae6a2e9c.png') center bottom no-repeat, url('@/assets/images/pattern.svg') 100% no-repeat;
  max-width: 634px;
  width: 100%;
  height: 100vh;
  background-size: 50%, 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.authentication-side {
  height: 100%;
  overflow: scroll;
  flex-grow: 1;
}

.authentication-side .form-wrapper {
  max-width: 25rem;
  width: 100%;
  box-sizing: content-box;
}

h3 {
  font-family: 'Clash Display Variable';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
}

h4 {
  font-family: 'Clash Display Variable';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
}

h5 {
  font-family: 'Clash Display Variable';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
}

.title-2 {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #171717;
}

.qrh-btn {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  gap: 10px;
  height: 50px;
  border-radius: 8px;

  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

.qrh-btn--secondary {
  border: 1px solid #C7ACF2;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: var(--qrh-primary);
}

.qrh-btn--primary {
  background: var(--qrh-primary);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #FFFFFF;

}

.body-normal {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  opacity: 0.5;
}

.text-horizontal-line {
  display: flex;
  flex-direction: row;
}

.text-horizontal-line:before,
.text-horizontal-line:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}

.text-horizontal-line:before {
  margin-right: 10px
}

.text-horizontal-line:after {
  margin-left: 10px
}

input {
  height: 50px;
}

.vac-textarea {
  border-radius: 0;
}

.vac-message-wrapper .vac-message-card {
  padding: 12px 16px;
  border-radius: 8px 0px 8px 8px;
}

.badge {
  padding: 6px 10px;
  border-radius: 80px;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
  border: 1px solid;
  width: fit-content;
  height: 34px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
}

[data-type="checkbox"] .formkit-input ~ .formkit-decorator {
    background: var(--fk-bg-decorator);
    display: block;
    box-sizing: border-box;
    width: var(--fk-box-size);
    height: var(--fk-box-size);
    flex: 0 0 var(--fk-box-size);
    border: 2px solid;
    box-shadow: var(--fk-border-box-shadow);
    border-radius: var(--fk-border-radius);
    margin: var(--fk-margin-decorator);
    position: relative;
}

.vs__search, .vs__search:focus {
  margin: 0;
  height: 48px;
}

.vs__dropdown-toggle {
  padding: 0;
}

.vs__selected {
  height: 25px;
}

.vue3-emojipicker .-translate-y-full {
  --tw-translate-y: 0 !important;
}

.vue3-emojipicker .transform {
  --tw-translate-x: 100% !important;
}
